In [ ]:
import pandas as pd

In [ ]:
dfFinal = pd.read_excel("/content/drive/MyDrive/프로그래밍 언어 공부 자료/인공지능/2022 데청캠/기업 프로젝트/데이터/최종 데이터 셋.xlsx")
dfFinal

,Unnamed: 0,날짜,라우트ID,공정,품명,MCT_유실시간,MCT_입고량,MCT_생산량,MCT_양품수,MCT_표준공수,...,사상리드타임,수입검사리드타임,외부가공 리드타임,용접 리드타임,조립 리드타임,타각 리드타임,품질 리드타임,후처리 리드타임,세정리드타임,리드타임
0,0,2020-10-05,R2_04,CNC > MCT > 세정 > 입고처리,ISO-F 100 FLANGE,60,44,44,44,27016,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,121.290000,1183.875000
1,1,2020-10-05,R2_04,CNC > MCT > 세정 > 입고처리,NW25 BOLTED PRESSURE FLANGE,30,4,4,4,628,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,2206.427058,5120.395881
2,2,2020-10-05,R3_05,MCT > 세정 > 입고처리,NW25 BOLTED PRESSURE FLANGE,30,4,4,4,628,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,198.925000,1860.375000
3,3,2020-10-07,R2_03,CNC > 세정 > 입고처리,ANODE,15,8,8,8,7200,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,1035.321052,1035.321052
4,4,2020-10-07,R2_03,CNC > 세정 > 입고처리,ARM BRACKET-1,30,30,30,30,6000,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,4470.291250,4470.291250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,3724,2022-08-01,R2_03,CNC > 세정 > 입고처리,UPPER FLANGE,720,48,48,48,24960,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,120732.706174,120732.706174
3725,3725,2022-08-01,R2_04,CNC > MCT > 세정 > 입고처리,65A PIPE SCH10S,0,0,30,30,28950,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,8263.816666,10861.496666
3726,3726,2022-08-01,R2_04,CNC > MCT > 세정 > 입고처리,UPPER FLANGE,1080,72,72,72,37440,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,468668.817518,589216.770413
3727,3727,2022-08-01,R2_32,CNC > 세정 > 타각 > 입고처리,UPPER FLANGE,120,8,8,8,4160,...,0.0,0.0,0.0,0.0,0.0,78415.892,0.0,0.0,17071.375000,95487.267000
3728,3728,2022-08-01,R3_05,MCT > 세정 > 입고처리,UPPER FLANGE,240,16,16,16,8320,...,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,13430.689523,30592.562855

In [ ]:
dfFinal.columns

Index(['Unnamed: 0', '날짜', '라우트ID', '공정', '품명', 'MCT_유실시간', 'MCT_입고량',
       'MCT_생산량', 'MCT_양품수', 'MCT_표준공수', 'MCT사이클타임', 'CNC_유실시간', 'CNC_입고량',
       'CNC_생산량', 'CNC_양품수', 'CNC_표준공수', 'CNC사이클타임', 'CNC/선반/SAW리드타임',
       'IPA세정 리드타임', 'MCT/밀링/TAP리드타임', '사상리드타임', '수입검사리드타임', '외부가공 리드타임',
       '용접 리드타임', '조립 리드타임', '타각 리드타임', '품질 리드타임', '후처리 리드타임', '세정리드타임',
       '리드타임'],
      dtype='object')

In [ ]:
dfLeadTime = dfFinal[['CNC/선반/SAW리드타임',
       'IPA세정 리드타임', 'MCT/밀링/TAP리드타임', '사상리드타임', '수입검사리드타임', '외부가공 리드타임',
       '용접 리드타임', '조립 리드타임', '타각 리드타임', '품질 리드타임', '후처리 리드타임', '세정리드타임',
       '리드타임']]
dfLeadTime

,CNC/선반/SAW리드타임,IPA세정 리드타임,MCT/밀링/TAP리드타임,사상리드타임,수입검사리드타임,외부가공 리드타임,용접 리드타임,조립 리드타임,타각 리드타임,품질 리드타임,후처리 리드타임,세정리드타임,리드타임
0,0.0,0.0,1062.585000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,121.290000,1183.875000
1,0.0,0.0,2913.968823,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,2206.427058,5120.395881
2,0.0,0.0,1661.450000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,198.925000,1860.375000
3,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,1035.321052,1035.321052
4,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,4470.291250,4470.291250
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,120732.706174,120732.706174
3725,0.0,0.0,2597.680000,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,8263.816666,10861.496666
3726,0.0,0.0,120547.952895,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,468668.817518,589216.770413
3727,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,78415.892,0.0,0.0,17071.375000,95487.267000
3728,0.0,0.0,17161.873332,0.0,0.0,0.0,0.0,0.0,0.000,0.0,0.0,13430.689523,30592.562855

In [ ]:
arr = dfLeadTime.columns
arr

Index(['CNC/선반/SAW리드타임', 'IPA세정 리드타임', 'MCT/밀링/TAP리드타임', '사상리드타임', '수입검사리드타임',
       '외부가공 리드타임', '용접 리드타임', '조립 리드타임', '타각 리드타임', '품질 리드타임', '후처리 리드타임',
       '세정리드타임', '리드타임'],
      dtype='object')

In [ ]:
for i in arr:
  dfLeadTime.at[dfLeadTime[i] > 0, i] = 1
  
dfLeadTime

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,CNC/선반/SAW리드타임,IPA세정 리드타임,MCT/밀링/TAP리드타임,사상리드타임,수입검사리드타임,외부가공 리드타임,용접 리드타임,조립 리드타임,타각 리드타임,품질 리드타임,후처리 리드타임,세정리드타임,리드타임
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3725,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3726,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
3728,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [ ]:
dfLeadTime.to_excel("최종 데이터셋에 0이상의 값을 1로 바꾼 셀.xlsx")

In [ ]:
dfSub = dfFinal[['날짜', '라우트ID', '공정', '품명']]
dfSub

             날짜  라우트ID                     공정                           품명
0    2020-10-05  R2_04  CNC > MCT > 세정 > 입고처리             ISO-F 100 FLANGE
1    2020-10-05  R2_04  CNC > MCT > 세정 > 입고처리  NW25 BOLTED PRESSURE FLANGE
2    2020-10-05  R3_05        MCT > 세정 > 입고처리  NW25 BOLTED PRESSURE FLANGE
3    2020-10-07  R2_03        CNC > 세정 > 입고처리                        ANODE
4    2020-10-07  R2_03        CNC > 세정 > 입고처리                ARM BRACKET-1
...         ...    ...                    ...                          ...
3724 2022-08-01  R2_03        CNC > 세정 > 입고처리                 UPPER FLANGE
3725 2022-08-01  R2_04  CNC > MCT > 세정 > 입고처리              65A PIPE SCH10S
3726 2022-08-01  R2_04  CNC > MCT > 세정 > 입고처리                 UPPER FLANGE
3727 2022-08-01  R2_32   CNC > 세정 > 타각 > 입고처리                 UPPER FLANGE
3728 2022-08-01  R3_05        MCT > 세정 > 입고처리                 UPPER FLANGE

[3729 rows x 4 columns]

In [ ]:
dfFinalOneZero = pd.concat([dfSub, dfLeadTime], axis = 1)

In [ ]:
dfFinalOneZero.to_excel("최종 데이터셋 일영일영.xlsx")